<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		
<!-- 	<bean id="loginAction" class="com.graduate.action.LoginAction" scope="prototype">
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean id="adminAction" class="com.graduate.action.AdminAction" scope="prototype">
		<property name="adminManager" ref="adminManager"></property>
	</bean>
	
	<bean id="studentAction" class="com.graduate.action.StudentAction" scope="prototype">
		<property name="studentManager" ref="studentManager"></property>
	</bean>
	
	<bean id="uploadAction" class="com.graduate.action.UploadAction" scope="prototype">
	</bean>
	<bean id="downloadAction" class="com.graduate.action.DownloadAction" scope="prototype">
	</bean> -->
	<!-- 角色管理 -->
	<bean id="roleAction" class="com.wb.action.RoleAction" scope="prototype">
     <property name="roleService" ref="roleService"></property>
	</bean> 
	<!-- 部门管理 -->
	<bean id="departmentAction" class="com.wb.action.DepartmentAction" scope="prototype">
     <property name="departmentService" ref="departmentService"></property>
	</bean> 
	
		<!-- 权限管理 -->
	<bean id="privilegeAction" class="com.wb.action.PrivilegeAction" scope="prototype">
     <property name="privilegeService" ref="privilegeService"></property>
	</bean> 
	
		<!-- 用户管理 -->
	<bean id="userAction" class="com.wb.action.UserAction" scope="prototype">
     <property name="userService" ref="userService"></property>
     <property name="departmentService" ref="departmentService"></property> 
     <property name="roleService" ref="roleService"></property>
	</bean> 
  
</beans>